<div class="container-fluid">
  <div class="row">
    <!-- Divisas -->
    <div class="col-md-8 d-none d-md-block">
      <table class="table table-borderless mt-3">
        <thead class="borde-table table-primary ">
          <tr class="color-card">
            <th scope="col"></th>
            <th scope="col">ARS</th>
            <th scope="col">USD</th>
            <th scope="col">EUR</th>
            <th scope="col">CNY</th>
            <th scope="col">GBP</th>
          </tr>
        </thead>
        <tbody class="table-dark">
          <tr>
            <th scope="row">1 ARS</th>
            <td>1.00</td>
            <td>0.01</td>
            <td>0.01</td>
            <td>0.11</td>
            <td>0.01</td>
          </tr>
          <tr >
            <th scope="row">Inversa</th>
            <td>1.00</td>
            <td>65.50</td>
            <td>71.50</td>
            <td>9.40</td>
            <td>87.50</td>
          </tr>
          <tr>
            <th scope="row">1 USD</th>
            <td>64.50</td>
            <td>1.00</td>
            <td>0.92</td>
            <td>7.09</td>
            <td>0.79</td>
          </tr>
          <tr>
            <th scope="row">Inversa</th>
            <td>0.01</td>
            <td>1.00</td>
            <td>1.08</td>
            <td>0.14</td>
            <td>1.27</td>
          </tr>
          <tr>
            <th scope="row">1 EUR</th>
            <td>70.00</td>
            <td>1.08</td>
            <td>1.00</td>
            <td>7.67</td>
            <td>0.89</td>
          </tr>
          <tr >
            <th scope="row">Inversa</th>
            <td>0.01</td>
            <td>0.92</td>
            <td>1.00</td>
            <td>0.13</td>
            <td>1.12</td>
          </tr>
          <tr>
            <th scope="row">1 CNY</th>
            <td>9.40</td>
            <td>0.14</td>
            <td>0.13</td>
            <td>1.00</td>
            <td>0.11</td>
          </tr>
          <tr >
            <th scope="row">Inversa</th>
            <td>0.11</td>
            <td>7.09</td>
            <td>7.67</td>
            <td>1.00</td>
            <td>8.95</td>
          </tr>
          <tr>
            <th scope="row">1 GBP</th>
            <td>87</td>
            <td>1.27</td>
            <td>1.12</td>
            <td>8.95</td>
            <td>1.00</td>
          </tr>
          <tr >
            <th scope="row">Inversa</th>
            <td>0.01</td>
            <td>0.79</td>
            <td>0.89</td>
            <td>0.11</td>
            <td>1.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Formulario -->
    <div class="col-md-4 col-sm-12 mt-3">
      <div class="card">
        <div class="card-header text-center color-card">
          <h3>Conversor de Divisas</h3>
        </div>
        <div class="card-body bg-primary color-card-content">
          <form #divisasFrom="ngForm">
            <div class="form-group">
              <label for="cantidad">Cantidad</label>
              <input type="text" class="form-control" placeholder="Ingrese cantidad" id="cantidad" [(ngModel)]="moneda.from_value" name="txtCantidad" #txtCantidad="ngModel" required pattern="(^[1-9][0-9]*.[0-9][0-9]|^[1-9][0-9]*$|^[1-9][0-9]*.[0-9])">
              <div *ngIf="txtCantidad.invalid && (txtCantidad.dirty || txtCantidad.touched)" class="alert alert-danger">
                <div *ngIf="txtCantidad.errors.required">
                  El campo Cantidad es requerido
                </div>
                <div *ngIf="txtCantidad.errors.pattern">
                  Solo se admiten una cantidad mayores a ceros y hasta dos decimales
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="de">De</label>
              <select class="form-control" [(ngModel)]="moneda.from_type" name="cmbDe" required #cmbDe="ngModel">
                <option value="ARS">Peso Argentino</option>
                <option value="USD">Dolar Estadounidense</option>
                <option value="EUR">Euro</option>
                <option value="CNY">Yuan</option>
                <option value="GBP">Libra Esterlina</option>
              </select>
              <div *ngIf="cmbDe.invalid && (cmbDe.dirty || cmbDe.touched)" class="alert alert-danger">
                <div *ngIf="cmbDe.errors.required">
                  El campo De es requerido
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="a">A</label>
              <select class="form-control" name="cmbA" [(ngModel)]="moneda.to_type" required #cmbA="ngModel">
                <option value="ARS">Peso Argentino</option>
                <option value="USD">Dolar Estadounidense</option>
                <option value="EUR">Euro</option>
                <option value="CNY">Yuan</option>
                <option value="GBP">Libra Esterlina</option>
              </select>
              <div *ngIf="cmbA.invalid && (cmbA.dirty || cmbA.touched)" class="alert alert-danger">
                <div *ngIf="cmbA.errors.required">
                  El campo A es requerido
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-warning text-center col-12" (click)="obtenerConversion()" [disabled]="!divisasFrom.form.valid">Convertir</button>
          </form>
          <div class="mt-3">
            <label class="col-12 text-center text-white strong">Total: {{ tipo }} {{ total }} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>